pre {
  background-color: #f8f9fa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 8px;
  margin: 4px 0;
}

.tutorial-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  padding: 0;
}

#tutorial-toc {
  flex-grow: 0;
  min-width: 200px;
  max-width: max-content;
  padding: 4px;
  box-shadow: inset 0 0 4px #000000;
}

#tutorial-content {
  flex-grow: 1;
  border: 1px solid #e6e6e6;
  border: 0px solid #e6e6e6;
  margin: 0 4px;
  overflow: auto;
  padding-bottom: 80px;
}

.section, section {
  margin-top: 40px;
}

.playground {
  background-color: transparent;
  border: 1px solid #6e6e6e;
  padding: 8px;
}

#cmd_counter {
  padding: 0px 8px;
  transition: all 100ms ease-in;
}